@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


*{
    margin: 0px;
    padding: 0px;


}
.uppercontainer{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color: white;
    width: 100%;
    height: 40px;
}

#installation{
    display: none;
}


body{
    background-image: linear-gradient(to right, #1b0b54, rgb(105, 29, 155));
    overflow-x: hidden;
}

.plaintext{
 
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 17px;
top: 30%;
text-align: center;
color: #dfe8ff;
justify-content: center;
display: flex;
position: relative;
}
a{
    color: white;
    text-decoration: underline;
    font-weight: 100;
}



.svg{
    height: 20px;
    width: 20px;
    color: white;
}
.flexlist{
    list-style: none;
    display: flex;
    justify-content: end;
    position: relative;
    left: 20%;
}
li{
    margin-right:5px;
}
.line{
    width: 38px;
    height: 0px;
    border: 1px dashed #ffffff;
    transform: rotate(90deg);
    position: relative;
    top: 8px;
}

#name{
border: none;
border-radius:5px;
background-color: #5B8BFF;
color: white;
display: none;

}

#name2{
    border: none;
    border-radius:5px;
    background-color: #5B8BFF;
    color: white;
    display: none;
    
    }
#login{
    color: white;
    cursor: pointer;
}


.lowercontainer
{   
   
    
    color: white;
    width: 100%;
    height: 60px;   
    
}
.flex{
    display: flex;
    list-style: none;
    padding: 20px;
}
.list{
    margin-left: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listx{
    margin-left: 25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.list:hover{
     color: #38E54D;
     cursor: pointer;
    
}

.listy{
    margin-left: 10%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input{
    background: #F7F8F9;
    padding-left: 5%;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
border-radius: 4px;
border: none;
width: 200px;
height: 30px;
}

.searchbtn{
    border: none;
    width: 60px;
height: 30px;
    background: #4776E6;
    color: white;
}
.searchbtnx{
    border: none;
    width: 60px;
height: 30px;
    background:#153580;
    color: white;
}
.svgx{
    width: 60px;
height: 30px;
}

#mobileview{
    display: none;
}

.mobileview{
    background-color: #153580;
    color: #dfe8ff;
    height: fit-content;
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.mobilesvg{
    height: 40px;
    width: 40px;
    margin-left: 60px;
 
}

#menubar{
    display: none;
}
a{
    text-decoration: none;
}



.menubar{
    list-style: none;
     display: flex;
     padding-left: 100px;
     transition: 1.5s;
}

.listtop{
    margin-top: 10px;
}

.herocontainer{
    display: flex;
    flex-wrap: wrap;
}



.div1{
    margin-top: 8%;
    margin-left: 100px;
    width: 30%;
    
}

.heroheader1{
    color:#66B2FF;
    font-weight: 700;
   font-size: 50px;

   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.heropara{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}


.heroheader2{
    color: white;
    font-weight: 700;
   font-size:50px;
 
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.herobtn{
    position: relative;
    top: 50px;
    width: 100%;
    height: 40px;
    font-weight: 700;
    background-color: #66B2FF;
    border: none;
    color: white;
    border-radius: 5px;
}
.herobtn:hover{
    background-color: #38E54D;
    transition: 0.9s;
    color: #06283D;
    font-weight: 700;
}

.cropped{
    margin: -10px 100px -200px 90px;
     height: 600px;
     width: 600px;
     
    
}

.div2{
    overflow: hidden;
}

.imgs{
    height:600px; 
    width:600px;
}


.herobtnx{
    width: 100%;
    height: 140px;
  border: none;
  padding: -120px;
    transform: scale(1);
    padding: 1rem 1rem;
    overflow: hidden;
}


@media only screen and (max-width: 600px) {

#lowercontainer{
    display: none;

}
#uppercontainer{
    display: none;
}

#mobileview{
    display: block;
}

#hero{
display: flex;
flex-direction: column;
}
#div1{
    margin: 50px;
    width: 70%;
}
#div2{
  display: none;
    
}

#container3{
    display: block;
}

#x0{
    font-size: 30px;
}
#x1{
    font-size: 35px;
}

#imgs{
    height:400px;
     width:400px;
}

#div5{
    margin: 0px;
    width: 100%;
}


#bodycontainer{
    display: block;
}

#connectus{
    width: 100%;
    
}

#flexing{
    margin: 0px;
}

#listx{
    margin-left: 0px;
}

#icons{
    height: 40px;
    width: 40px;
}

}




.bodycontainer{
    display: flex;
    margin-top: 200px;
    
}

.container3{
    display: flex;    
    margin-bottom: 50px;
    font-weight: 300;
}

.listnotes{
    margin-top: 50px;
}
.li{
    margin-top: 10px;
     font-weight: 300;
}


.div5{
    margin-left: 0px;
    margin-right: 150px;
    margin-top: 50px;
}
.li:hover{
    font-weight: 600;
    color: yellow;
    transition: 0.5s;
}

.connectus{
    background-color: white;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}

.flexing{
    display: flex;
    color: black;
    list-style-type: none;

}

.listx{

    margin-left: 20px;
}
.icons{
    width: 100px;
    height: 100px;
}

.bottombar{
    background-color: whitesmoke;
    width: 100%;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bottomfont{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}

.button{
     margin-top: 20px;
     width: 50%;
      height: 7%;
      color: black;
      font-weight: 100;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      border-radius: 7px;
       background-image: linear-gradient( 102.4deg,  rgba(253,189,85,1) 7.8%, rgba(249,131,255,1) 100.3% );;
      border: none;
      cursor: pointer;

}